:root {
    --deep-dark-background: hsl(207, 26%, 17%);
    --dark-background: hsl(209, 23%, 22%);
    --light-backgrund: hsl(0, 0%, 98%);
    --balck-color: #000000;
    --light-color: hsl(0, 0%, 100%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    transition: 0.1ms all ease-in-out;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--light-backgrund);
    color: var(--balck-color);

}

body.dark,
body.dark .detail,
body.dark .detail-container a {
    background-color: var(--deep-dark-background);
    color: var(--light-color);
}

body.dark .cards .card,
body.dark header,
body.dark .heading input,
body.dark .heading .search_elem,
body.dark .heading button,
body.dark select,
body.dark #back,
body.dark .boredr_country a {
    background-color: var(--dark-background);
    color: var(--light-color);
}

body.dark header,
body.dark header a,
body.dark header button,
body.dark .loading {
    color: var(--light-color);
}

body.dark #light-mode {
    display: flex;
}

body.dark #dark-mode {
    display: none;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 60px;
    padding: 0 60px;
    background-color: var(--light-color);
    color: var(--blcak-color);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
}

body a {
    color: var(--balck-color);
    text-decoration: none;

}


header a,
header {
    color: var(--balck-color);

}

header a {
    font-size: 20px;
    font-weight: 800;
}




nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    padding: 10px 20px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}

#light-mode {
    display: none;
}

#home {
    width: 100%;
    padding: 5rem 60px;
    margin-top: 2rem;
    color: var(--balck-color);

}

.loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 45px;
    font-weight: 800;
    color: var(--balck-color);
}

.loading.active {
    display: block;
}

.heading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;
    gap: 20px;
}

.search_elem {
    max-width: 380px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, .2)
}

#searc_input_btn {
    position: absolute;
    font-weight: 400;
    font-size: 16px;

}

.heading input {
    text-indent: 40px;

}

.heading input,
select {
    width: 100%;
    padding: 15px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, .2)
}

option {
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

.cards {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.cards .card {
    width: 260px;
    height: 280px;
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    color: var(--balck-color);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
    margin-bottom: 40px;
}

.card .card_img {
    width: 100%;
    height: 130px;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .texts {
    padding: 20px
}

.texts h1 {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bolder;
    font-weight: 800;
}

.card p {
    font-size: 14px;
    margin-bottom: 7px;
}

.card.active {
    display: none;
}



/* details page start  */

.detail-container {
    width: 100%;
    padding: 6rem 60px;
    height: calc(100% - 80px);
    color: var(--balck-color);

}

.detail-container #back {
    margin-top: 2rem;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 25px;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid transparent;
    box-shadow: 0 0px 7px 0px rgba(0, 0, 0, .2);
}

.detail {
    width: 100%;
    padding: 4rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.detail .flag {
    width: 60%;
    max-width: 380px;
    height: 260px;
    box-shadow: 0 0px 7px 0px rgba(0, 0, 0, .2);
}

.flag img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text {
    width: 50%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.text h1 {
    font-size: 18px;
    font-weight: 600;
}

.text p {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 100;
}

.border {
    width: 100%;
    display: flex;
}

.boredr_country {
    margin-left: 5px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;

}

.boredr_country a {
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 400;
    color: var(--balck-color);
    font-size: 14px;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 0px 1px;
}

.sub_text {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}



/* mobile responsive  */

@media (max-width:750px) {


    .cards {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0;
    }

    .cards .card {
        width: 250px;
        height: 320px;
        border-radius: 4px;
        overflow: hidden;
    }

    .card .card_img {
        width: 100%;
        height: 190px;
    }

    .detail {
        justify-content: flex-start;
        gap: 40px;
        font-size: 14px;
    }

    .detail .flag {
        width: 100%;
        max-width: 380px;
        height: 280px;
    }

    .text {
        width: 100%;
        padding: 0;
    }

    .sub_text {
        display: flex;
        flex-direction: column;
    }

    .border {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media (max-width:500px) {

    header {
        padding: 0 10px;
    }

    header nav {
        font-size: 3vw;
    }
    nav h1 a{
        font-size: 5vw;
    }

    #home {
        padding: 5rem 14px;
    }

    .cards .card {
        width: 250px;
        height: 280px;
        border-radius: 4px;
        overflow: hidden;
    }
    .detail-container {
        width: 100%;
        padding: 6rem 14px;
        height: calc(100% - 80px);
        color: var(--balck-color);

    }

    .cards a {
        width: 90%;
        padding: 0;
    }

    .detail {
        width: 100%;
    }

    .detail .flag {
        width: 100%;
        height: 220px;
    }

    .boredr_country a {
        gap: 20px;
    }

}

@media (max-width:400px) {
    .cards .card {
        width: 100%;
    }

    .card .card_img {
        width: 100%;
        height: 150px;
    }

}